nav ul li {
	list-style: none;
	display: inline-block;

}
nav{
	width:100%;
	background-color: #333333;
	margin-top: 30px;
}    

.caja1 a{
	float: right;
	margin-left: 20px;
	padding-top:40px;
	padding-bottom: 40px;
	color:white;
	font-family: Verdana;
	font-size: 12px;
	text-decoration:none;
	text-align: center;
}
.logo img{
	width: 70px;
	height: 70px;
	float: left;
	padding-bottom: 5px;
	margin-left: -900px;
}
a{
	text-decoration:none;
}
.caja2{
	margin-top: -20px;
	font-family: Verdana;
	color:black;
	text-decoration: none;
	font-size: 15px;
	padding:20px
	background-color: #eeeeee;
	width: 100%;
}
.foto img {
	text-align: center;
	width: 190px;
	height: 190px;
	margin:10px auto;
	font-family: Verdana;
	font-size: 12px;
	color: #3333FF;
	margin-left:10px;
	border: #C0C0C0 double;
}

.foto2 img{
	width: 90px;
	height: 90px;
	text-align: center;
	display: block;
	font-family: Verdana;
	font-size: 12px;
	text-decoration: none;
	color: #3333FF;
	border: #C0C0C0 double;
	margin-top: 50PX;
}
.caja2 h3{
	margin-left: 20px;
}
div .caja2{
	background-color: #eeeeee;
	padding-bottom: 20px;
	margin-left: 0px;
}
ul{
	margin-left: 300px;
}
.aside{
	text-align: left;
	color:#333333;
	font-family: Verdana;
	font-size: 12px;
}
div .aside{
	margin-top: 115px;
}
.linea{
	border-bottom: 3px solid #C0C0C0;
	width: 210px;
	margin-bottom:20px;
}
.none{
	padding-bottom: 5px;
	margin-top: -60px;
}
.ico2{
	width: 20px;
	height: 20px;
}
.espacio{
	padding-bottom: 8px;
}
.pie-pagina a{
	color: #c0c0c0;
	font-family: Verdana;
	font-size: 12px;
	text-decoration:none;
	display: inline;

}
.nav-footer{
	background-color: #585858;
}

.pie-pagina{
	text-align: center;
	width: 100%;
	background-color: #585858;
	padding-top: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.pie-pagina p{
	text-align: left;
	color: white;
	font-family: Verdana;
	font-size: 14px;
	display: inline;
	
}
.pie-pagina .final{
	font-family: Verdana;
	font-size: 9px;
	color: #a7a7a7;
	margin-bottom: 30px;
}
.nombre{
	text-align: center;
}